@import '../styles.scss';





.layout-container {
    overflow-y: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;

    main {
        flex: auto
    }

    footer {
        
        height: 60px;
    }
}