<header class="navbar">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </button>
    
    <span class="example-spacer"></span>
    <ul >
      <li *ngFor="let path of routerPaths">
        <a routerLinkActive="active-link" routerLink="{{('/' + path)}}">
            {{path}}
        </a>
      </li>
    </ul>
  </mat-toolbar>
</header>